$primary: #666666;
$secondary: #999999;
$accent: #7690a3; //포인트 컬러

$gray-b: #bfbfbf;
$gray-d: #dfdfdf;
$gray-e: #ececec;

$background: #f9f7f6; // 메인 배경
$background-sub: #f6f1eb; // 서브 배경
$background-gnb: #f6f1eb; // GNB 배경

$black: #333333;
$white: #ffffff;

// 감정 기본 컬러
$joy: #fdf6e1;
$sadness: #b1d2e0;
$anger: #f8ebe9;
$anxiety: #e4d7f7;
$calm: #d3dcbb;
