.container {
    width: 450px;
    min-height: 736px;
    background-color: #fdf6e18c;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 24px;
}
