.container {
    min-height: 736px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    &.default {
        width: 1080px;
        border-top: {
            left-radius: 24px;
            right-radius: 24px;
        }
    }

    &.feature {
        width: 800px;
        border-top: {
            left-radius: 0px;
            right-radius: 24px;
        }
    }

    .coverSection {
        position: relative;
        height: 240px;
        flex-shrink: 0;
        background-color: brown;
        overflow: hidden;

        &.default {
            border-top: {
                left-radius: 24px;
                right-radius: 24px;
            }
        }

        &.feature {
            border-top: {
                left-radius: 0px;
                right-radius: 24px;
            }
        }

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 80px 80px 35px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(4px);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

            .title {
                @include arita(500, 32px, 1.5);
                color: #ffffff;
            }

            .date {
                @include arita(400, 14px, 1.5);
                color: #bfbfbf;
                align-self: flex-end; // date만 오른쪽으로 정렬
            }
        }
    }

    .bottom {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: {
            left: 80px;
            right: 80px;
        }

        .contentSection {
            @include noto(300, 18px, 2);
            color: #333333;
            margin-top: 35px;
        }

        .bottomSection {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .bottomHr {
                height: 1px;
                margin-top: 55px;
                background-color: #ececec;
                border: none;
            }

            .bottomContainer {
                min-height: 66px;
                display: flex;
                align-items: center;
                @include noto(400, 12px, 1.5);
            }
        }
    }
}
