.bottom {
    @include noto(300, 18px, 2);
    margin-top: 35px;
    padding-left: 80px;
    padding-right: 80px;
    color: #333333;
}
.bottomContainer {
    min-height: 66px;
    display: flex;
    align-items: center;
    @include noto(400, 12px, 1.5);
}
.bottomHr {
    height: 1px;
    margin-top: 55px;
    background-color: #ececec;
    border: none;
}
