.container {
    flex: 1;
    min-height: 89.4vh;
    background-color: #ffffff;
    padding: {
        top: 4.25vh;
        left: 6.25vw;
        right: 6.25vw;
    }
    display: flex;
    flex-direction: column;

    &.default {
        width: 84.375vw;
        border-top: {
            left-radius: 24px;
            right-radius: 24px;
        }
    }

    &.feature {
        width: 62.5vw;
        border-top: {
            left-radius: 0px;
            right-radius: 24px;
        }
    }

    .title {
        @include noto(300, 32px, 1.5);
    }

    .hrContainer {
        margin: {
            top: 4.25vh;
            bottom: 4.25vh;
        }
        display: flex;
        align-items: center;
        gap: 15px;
        color: #bfbfbf;
        @include noto(400, 14px, 1.5);

        .leftHr,
        .rightHr {
            height: 1px;
            border: none;
            background-color: #ececec;
        }

        .leftHr {
            flex: 1;
        }

        .rightHr {
            width: 3.906vw;
        }
    }

    .contentContainer {
        display: flex;
        flex-direction: column;

        .content {
            @include noto(300, 18px, 2);
            color: #333333;
            margin-bottom: 2.43vh;
        }

        .image {
            width: 42.42vw;
            height: 29.16vh;
            border-radius: 8px;
            background-color: brown;
        }
    }

    .bottomSection {
        flex: 1; // 남은 부분 차지(contnetContainer의 크기가 작더라도 하단 hr의 위치는 고정하고 contentContainer의 바로 밑 부분부터 보이지 않는 bottomSection 존재)
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .bottomHr {
            height: 1px;
            margin-top: 6.68vh;
            background-color: #ececec;
            border: none;
        }

        .bottomContainer {
            min-height: 8.02vh;
            display: flex;
            align-items: center;
            @include noto(400, 12px, 1.5);
        }
    }
}
